services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ice-mankora-api
    restart: always
    ports:
      - '5000:5000'
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      PORT: ${PORT}
      APP_ENV: ${APP_ENV}
